# Ignore Python cache
__pycache__/
*.pyc

# Ignore env file
.env

# # Ignore OS files
.DS_Store

# ignore python notebooks
*.ipynb

# ignore generated report
HTHA_Data_Validity_Report.txt

# ignore generated table
*.csv
